/*-- scss:defaults --*/


// Colors
$light-blue: #3493da;
$light-grey: #b1d0d6;
$cream: #FDFBF7;
$gray: #64605f;
$purple: #9158A2;
$blue: #174161;

// Base document colors
$navbar-bg: $light-blue; // navbar
$navbar-fg: $cream; // navbar foreground elements
$navbar-hl: $blue; // highlight color when hovering over navbar links
$body-bg: $cream; // page background 
$body-color: $gray; // page text 
$footer-bg: $cream; // footer 
$link-color: $blue; // hyperlinks

