/*-- scss:defaults --*/


// Colors
$light-blue: #3AA4F3;
$light-grey: #b1d0d6;
$cream: #FDFBF7;
$gray: #64605f;
$purple: #9158A2;
$pink: #f5ded2;

// Base document colors
$navbar-bg: $light-blue; // navbar
$navbar-fg: $cream; // navbar foreground elements
$navbar-hl: $pink; // highlight color when hovering over navbar links
$body-bg: $cream; // page background 
$body-color: $gray; // page text 
$footer-bg: $cream; // footer 
$link-color: $pink; // hyperlinks